* {
    bg: #101418f2;
    bg-alt: #1c2024f2;
    bg-hover: #272a2eff;
    bg-selected: #054b72ff;
    fg: #e0e2e8ff;
    fg-muted: #c2c7ceff;
    fg-dark: #cce5ffff;
    accent: #98ccf9ff;
    accent-soft: #98ccf933;
    urgent: #ffb4abff;
    border-color: #42474eff;
}
